<!-- hotel -->
  <section class="bg-light page-section" id="{{ site.data.sitetext[site.locale].hotel.section | default: "hotel" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].hotel.title | markdownify | default: "Hotel" }}</h2>
          <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].hotel.text | default: "hotel"}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 mx-auto text-center">
          <div class="large text-muted">
          <img src="/assets/img/Ebbinghof.jpg" class="img-thumbnail" alt="Ebbinghof" width=50%></img>
          <br>

          Umgeben von sattem Grün, vielen Wiesen und Wäldern ist der Ebbinghof der
          passender Ort zum Lernen, für Abenteuer und für Erholung in der Natur.
          Ideal um etwas Tempo aus dem Alltag zu nehmen und sich für Neues zu öffnen.
          <br><br>
          Im April 2019 haben Miriam und Daniela sich auf Reisen in Österreich kennengelernt.
          Berührt vom
          authentischen Miteinander von uns als Paar sowie zwischen uns Eltern und Kindern hat
          Daniela uns zu sich auf den <a href="https://www.familotel-ebbinghof.de/" target="blank">Ebbinghof</a>
          eingeladen. In entspannter Urlaubsumgebung auf dem Ebbinghof haben wir mit Daniela
          unsere damalige Idee zu einer Kooperation geteilt und Realität werden lassen.
          <br><br>
          Während des Besuches auf dem Ebbinghof wurde uns klar, dass wir unsere Wege hin
          zu diesem authentischen Miteinander und der Beziehung auf Augenhöhe in der Familie mit anderen
          Familien teilen möchten. Der <a href="https://www.familotel-ebbinghof.de/" target="blank">Ebbinghof</a>
          bietet uns hierfür eine gute vorbereitete Umgebung um Ideenanstösse und Veränderung
          in der Familie anzustossen.
          <br><br>
          Mit Daniela Tigges, Geschäftsführerin des Familienhotels Ebgginhof, haben wir
          eine Hotelchefin gefunden, die selbst Familienträume (Sabbatical) verwirklicht
          und neue Wege für Familien aufzeigt. Urlauf auf dem <a href="https://www.familotel-ebbinghof.de/" target="blank">Ebbinghof</a>
          mit all-inclusive Paket und seiner idylischen Lage bietet den Raum sich entspannt mit
          der ganzen Familie auf neue Horizonte einzulassen, Ängsten ins Auge zu schauen und das
          Neugelernte direkt ins Familienleben zu integrieren. Hilfreich dabei ist auch ein Hotelpersonal,
          dass dich liebevoll unterstützt, wenn beispielweise beim Abendessen mal wieder alles mit
          deinen Kindern "falsch" läuft und du nicht cool bleiben kannst. In der Festivalgemeinschaft
          kannst du entspannt Träume träumen, aussprechen und beginnen zu verwirklichen.
          </div>
        </div>
      </div>
    </div>
  </section>
