<!DOCTYPE html>
<html lang="{{ site.locale | slice: 0,2 | default: "de" }}">

  {% include head.html %}

  <body id="page-top">

      {{ content }}

	  {% include footer.html %}

	  <!-- Bootstrap core JavaScript -->
	  <script src="/assets/js/jquery.min.js"></script>
	  <script src="/assets/js/bootstrap.bundle.min.js"></script>

	  <!-- Plugin JavaScript -->
	  <script src="/assets/js/jquery.easing.min.js"></script>

	  <!-- Contact form JavaScript -->
	  <script src="/assets/js/jqBootstrapValidation.js"></script>
	  <script src="/assets/js/contact_me.js"></script>

	  <!-- Custom scripts for this template -->
	  <script src="/assets/js/agency.min.js"></script>

    <!-- script for cooke message -->
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
    <script>
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#efefef",
            "text": "#404040"
          },
          "button": {
            "background": "#8ec760",
            "text": "#ffffff"
          }
        },
        "theme": "classic",
        "position": "bottom-left",
        "content": {
          "message": "Diese Website verwendet Cookies, um Ihnen das bestmögliche Erlebnis auf unserer Website zu ermöglichen.",
          "dismiss": "Danke",
          "link": "mehr"
        }
      });
    </script>

  </body>
</html>
